@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap');

/* .luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
};
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted black; */
}

header {
  /* align-content: center; */
  display: flex;
  height: 459px;
  background: url("../icons/Header.png");
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}
.section-1, .section-2, .section-3, .section-4, footer, header{
  width: 1280px;
  position: absolute;
}
h2 {
  font-family: Open Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 40px;
  color: rgba(35, 39, 42, 1);
}
p {
  font-family: "Open Sans", sans-serif;
  color: rgba(35, 39, 42, 1);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  
}

.header-content-banner {
  display: flex;
  flex-direction:  column;
  align-items: center;
  width: 757px;
  height: 270px;
  justify-content: space-between;
}

.header-content-banner > h2 {
  line-height: 100%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: Regular;
  font-size: 56px;
  text-align: center;
  width: 313px;
  height: 112px;
  color: rgba(255, 255, 255, 1);
}
.header-content-banner > h2 + p {
  color: rgba(255, 255, 255, 1);
  width: 757px;
  height: 66px;
}

.container-buttons {
  width: 502px;
  height: 44px;
}

button {
  height: 44px;
  border-radius: 28px;
  border-color: transparent;
  cursor: pointer;
}
button:nth-child(1) {
  width: 205px;
  background-color:rgba(255, 255, 255, 1);
}
button:nth-child(2){
  float: right;
  width: 281px;
  background: rgba(35, 39, 42, 1);
  color: rgba(255, 255, 255, 1);
}

.section-flex {
  display: flex;
  flex-direction: row;
}

.section1  {
  position: absolute;
  top: 499px;
  width: 971px;
  height: 394px;
  left: 154px;
  opacity: 1;
  gap: 16px;
}
.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-2 p {
  text-align: left;
  vertical-align: middle;
  width: 348px;
  height: 88px;
}
.section2 {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.section2 .div-flex {
  width: 351px;
  height: 212px;
}
.section3 {
  align-items: center;
  justify-items: center;
}
.section3 .div-flex {
  width: 351px;
  height: 234px;
}
.section-3 h2 {
  width: 329px;
  height: 108px;
}
.section3 p {
  text-align: left;
  width: 329px;
  height: 110px;
  margin-top: 10px;
}
.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section4 p {
  width: 802px;
  height: 44px;
}

.section4 img, .section-4 h2  {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100%;
}

.section-4 h2 {
  font-family: "Luckiest Guy", cursive;
  width: 608px;
  height: 80px;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.section1 h2 + p {
  font-size: 16px;
  text-align: left;
  width: 348px;
  height: 88px;
  line-height: 100%;
}

.section-2 {
  top: 933px; 
  height: 448px;
  width: 1280px;
  /* background: rgb(213, 210, 210);
  background: rgba(246, 246, 246, 1); */
}
.section-3 {
  top: 1421px;
}
.section-4 {
  top: 1909px;

}

.section4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(246, 246, 246, 1);
  width: 1280px;
  height: 744px;
}
footer {
  width: 1280px;
  height: 134px;
  top: 2653px;
  background: rgba(35, 39, 42, 1);
  margin: auto;
}
footer img {
  position: absolute;
  top: 35px;
  left: 525px;
}

@media screen and (max-width: 430px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

  header {
    position: relative;
    width: 430px;
    height: 505px;
    background: url("../icons/Header.png");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 73%;
}

  .header-content-banner {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 428px;
    height: 366px;
    top: 69px;
    padding-right: 24px;
    padding-left: 24px;
    gap: 24px;

  }
  .header-content-banner h2 {
    text-align:left ;
    top: 0;
    width: 278px;
    height: 64px;
    font-size: 32px;
    
  }
  .header-content-banner > h2 + p {
    text-align:left ;
    width: 381px;
    height: 132px;

  }
  .container-buttons {
    display: flex;
    flex-direction: column;
    width: 381px;
    height: 122px;
    gap: 16px;

  }

  div.container-buttons button {
    height: 54px;
    cursor: pointer;
    border-radius: 28px;
    width: 381px;

  }

  .section-1, 
  .section-2, 
  .section-3, 
  .section-4, 
  footer, header{
    position: relative;
    width: 428px;
    border: 1px dotted black;
    
}
  .section-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section.section-1 {
    position: relative;
    width: 428px;
    height: 573px;
    border: 1px dotted black;
  }
    
.section1 {
  position: absolute;
  display: flex;
  width: 428px;
  height: 573px;
  top: 0;
  left: 0;
  justify-content: space-around;
}
.section1 .div-flex {
  display: flex;
}

.section-flex section1 img {
  position: absolute;
  display: flex;
  width: 379px;
  height: 252px;
  float: left;
}
.div-flex > h2 {
  width: 370px;
  height: 99px;
  font-size: 24px;
}
.section1 .div-flex h2 + p {
  
  width: 378px;
  height: 88px;
}
.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 img {
  top: 0;
}
.section-flex img {
  width: 379px;
  height: 252px;
}
.section-2 {
  background: rgba(246, 246, 246, 1);
  height: 507px;
  width: 428px;
}
.section2 {
  display: flex;
  margin: auto;
}
.section-flex {
  display: flex;
}
h2, p, img, .section-flex {
  border: 1px dotted black;
}
.section-2, .section-3, .section-4, footer {
  top: 0;

}
.section-4, .section4 {
  width: 428px;
  height: 560px;
  background: rgba(246, 246, 246, 1);

}
.section4 h2 {
  width: 376px;
  height: 64px;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  text-align: left;
}
section.section-4 p {
  width: 378px;
  height: 110px;
  text-align: left;
  font-size: 16px;
  line-height: 100%;
}

.section4 img {
  width: 379px;
  height: 252px;
}
footer {
  width: 429px;
  height: 140px;

}
footer img {
  width: 162px;
  height: 45px;
  top: 44px;
  left: 133px;
}

}